body {
  font-family: "Roboto", sans-serif; }

header {
  background-color: rgba(255, 255, 255, 0.75);
  color: #ff6262;
  padding: 20px 0px 20px 0px;
  position: absolute;
  width: 100%;
  z-index: 99; }
  header h1 {
    letter-spacing: 5px; }

#prefooter {
  background-color: #000000;
  color: #ffffff;
  border-bottom: 2px dashed #ffffff;
  text-transform: uppercase;
  padding: 40px 0px 40px 0px; }
  #prefooter h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 5px;
    font-size: 48px; }
  #prefooter h5 {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px; }
  #prefooter li {
    padding-bottom: 10px; }
  #prefooter a {
    font-size: 14px;
    color: #ffffff; }
    #prefooter a:hover {
      color: #ffffff; }

footer {
  background-color: #000000;
  color: #ffffff;
  padding: 40px 0px 40px 0px; }
  footer h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 24px; }
  footer p {
    font-size: 14px; }
  footer p.small {
    font-size: 10px; }
  footer ul {
    padding-top: 20px; }
  footer a {
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff; }
    footer a:hover {
      color: #ffffff; }
  footer .col-sm-3 {
    padding-top: 40px; }

.wrapper .main {
  padding: 160px 0px 80px 0px; }

#frontpage .causa-principal {
  background-color: #ff6262;
  color: #ffffff; }
  #frontpage .causa-principal .causa-pretitulo {
    font-size: 16px;
    text-transform: uppercase; }
  #frontpage .causa-principal .causa-titulo {
    font-family: "Merriweather", serif;
    font-size: 48px;
    font-weight: bold; }
  #frontpage .causa-principal .btn-poletika {
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #ff6262;
    padding: 15px 25px 15px 25px;
    font-size: 16px;
    text-transform: uppercase; }

#frontpage .causas {
  padding: 40px 0px 40px 0px; }
  #frontpage .causas .causa {
    padding-bottom: 60px; }
    #frontpage .causas .causa .tematica {
      font-size: 16px;
      color: #ff6262; }
    #frontpage .causas .causa .titulo {
      font-family: "Merriweather", serif;
      font-size: 24px;
      margin-top: 10px;
      margin-top: 20px; }
    #frontpage .causas .causa img {
      padding-bottom: 26px; }
    #frontpage .causas .causa .what {
      color: #3C300B;
      font-size: 14px;
      text-transform: uppercase; }

#tematica {
  background-color: rgba(53, 2, 2, 0.05); }
  #tematica .main {
    background-color: #350202;
    color: #ffffff; }
    #tematica .main .titulo {
      font-family: "Roboto", sans-serif;
      font-size: 48px;
      font-weight: bold;
      padding-top: 40px; }
    #tematica .main .descripcion {
      font-size: 16px;
      padding-bottom: 40px;
      font-weight: 300; }
  #tematica .causas h5 {
    color: #ff6262;
    font-size: 24px;
    padding: 40px 0px 40px 0px; }
  #tematica .causas .causa .info {
    background-color: rgba(53, 2, 2, 0.05); }
    #tematica .causas .causa .info h3 {
      font-size: 24px;
      font-family: "Merriweather", serif; }
    #tematica .causas .causa .info a.readmore {
      color: #636363;
      text-transform: uppercase;
      padding-top: 20px;
      padding-bottom: 20px; }
  #tematica .causas .causa .metricas {
    background-color: #ffffff;
    color: #ff6262;
    font-size: 16px;
    padding: 40px 0px 40px 0px; }

#causa {
  background-color: rgba(53, 2, 2, 0.05); }
  #causa .main .tematicas {
    position: absolute;
    margin-top: 109px;
    width: 100%;
    padding: 20px 0px 20px 0px;
    text-transform: uppercase;
    background-color: #350202;
    color: #ffffff;
    z-index: 100; }
  #causa .organizaciones {
    color: #ff6262;
    text-transform: uppercase;
    font-size: 14px;
    padding: 20px 0px 20px 0px; }
  #causa .info .titulo {
    font-family: "Merriweather", serif;
    font-size: 48px; }
  #causa .metricas {
    color: #ff6262;
    font-size: 16px;
    padding: 40px 0px 40px 0px; }
  #causa .meta {
    padding: 40px 0px 40px 0px; }
    #causa .meta .descripcion p {
      font-size: 16px;
      color: #350202; }
    #causa .meta .fotos {
      /*code*/ }
  #causa .timeline {
    background-color: #ffffff;
    color: #ff6262;
    padding: 40px 0px 40px 0px; }

#tematica .acciones, #causa .acciones {
  background-color: #ff6262;
  color: #ffffff;
  padding: 40px 0px 40px 0px;
  font-size: 16px; }
  #tematica .acciones .accion, #causa .acciones .accion {
    padding: 0px 20px 0px 20px; }

#tematica .contenido, #causa .contenido {
  padding: 80px 0px 80px 0px; }

#page.basica {
  background-color: rgba(53, 2, 2, 0.05); }
  #page.basica h1 {
    font-size: 48px;
    font-weight: bold; }
  #page.basica h3 {
    font-size: 24px;
    font-weight: bold; }
  #page.basica p {
    font-size: 16px;
    padding-bottom: 20px; }
  #page.basica p:first-of-type {
    padding-top: 40px; }

#quienes-somos h3 {
  font-size: 48px;
  font-weight: bold; }

#quienes-somos p, #quienes-somos ul li {
  font-size: 16px;
  font-weight: 300; }

#quienes-somos .block {
  padding: 40px 0px 40px 0px; }
  #quienes-somos .block .subblock {
    padding: 40px 0px 40px 0px; }

#quienes-somos .somos, #quienes-somos .vigilamos, #quienes-somos .por-que {
  background-color: #ff6262;
  color: #ffffff; }
  #quienes-somos .somos a, #quienes-somos .vigilamos a, #quienes-somos .por-que a {
    color: #ffffff;
    font-weight: bold; }

#quienes-somos .hacemos, #quienes-somos .vigilamos-a, #quienes-somos .como-ser {
  background-color: #ffffff;
  color: #000000; }
  #quienes-somos .hacemos ul, #quienes-somos .vigilamos-a ul, #quienes-somos .como-ser ul {
    padding-left: 40px; }
    #quienes-somos .hacemos ul li, #quienes-somos .vigilamos-a ul li, #quienes-somos .como-ser ul li {
      padding: 5px 0px 5px 0px; }
  #quienes-somos .hacemos a, #quienes-somos .vigilamos-a a, #quienes-somos .como-ser a {
    color: #000000;
    font-weight: bold; }

#quienes-somos .metodologias {
  background-color: rgba(53, 2, 2, 0.05);
  color: #ff6262; }
  #quienes-somos .metodologias a {
    color: #ff6262;
    font-weight: bold; }
