// COLORS
$color-primary: #ff6262;
$color-black: #000000;
$color-brown: #350202;
$color-white: #ffffff;
$color-darkgrey: #3C300B;
$color-darkgrey-alt: #636363;
$color-grey: #c2c2c2;
$color-lightgrey: #e2e2e2;
$transparency: rgba(255, 255, 255, 0.75);
$color-grey-bg: rgba(53, 2, 2, 0.05);

// SIZES
$default-jump: 40px;

// FONTS
$sans-serif: 'Roboto', sans-serif;
$serif: 'Merriweather', serif;

// FONT SIZES
$fontsize-xbig: 72px;
$fontsize-big: 48px;
$fontsize-medium: 24px;
$fontsize-small: 16px;
$fontsize-xsmall: 14px;
$fontsize-xxsmall: 10px;


// COMMON

body {
    font-family: $sans-serif;
}

header {
    background-color: $transparency;
    color: $color-primary;
    padding: 20px 0px 20px 0px;
    position: absolute;
    width: 100%;
    z-index: 99;
    h1 {
        letter-spacing: 5px;
    }
}

#prefooter {
    background-color: $color-black;
    color: $color-white;
    border-bottom: 2px dashed $color-white;
    text-transform: uppercase;
    padding: $default-jump 0px $default-jump 0px;
    h1 {
        margin-top: 0px;
        margin-bottom: 0px;
        letter-spacing: 5px;
        font-size: $fontsize-big;
    }
    h5 {
        font-size: $fontsize-small;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    li {
        padding-bottom: 20px;
    }
    a {
        font-size: $fontsize-xsmall;
        color: $color-white;
        &:hover {
            color: $color-white;
        }
    }
}
footer {
    background-color: $color-black;
    color: $color-white;
    padding: $default-jump 0px $default-jump 0px;
    h2 {
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: $fontsize-medium;
    }
    p {
        font-size: $fontsize-xsmall;
    }
    p.small {
        font-size: $fontsize-xxsmall;
    }
    ul {
        padding-top: 20px;
    }
    a {
        text-transform: uppercase;
        font-size: $fontsize-xsmall;
        color: $color-white;
        &:hover {
            color: $color-white;
        }
    }
    .col-sm-3 {
        padding-top: $default-jump;
    }
}


.wrapper {
    .main {
        padding: $default-jump*4 0px $default-jump*2 0px;
    }
}

// PAGES

#frontpage {
    .causa-principal {
        background-color: $color-primary;
        color: $color-white;
        .causa-pretitulo {
            font-size: $fontsize-small;
            text-transform: uppercase;
        }
        .causa-titulo {
            font-family: $serif;
            font-size: $fontsize-big;
            font-weight: bold;
        }
        .btn-poletika {
            border-radius: 100px;
            background-color: rgba(255, 255, 255, 0.9);
            color: $color-primary;
            padding: 15px 25px 15px 25px;
            font-size: $fontsize-small;
            text-transform: uppercase;
        }
    }
    .causas {
        padding: $default-jump 0px $default-jump 0px;
        .causa {
            padding-bottom: 60px;
            .tematica {
                font-size: $fontsize-small;
                color: $color-primary;
            } 
           .titulo {
                font-family: $serif;
                font-size: $fontsize-medium;
                margin-top: 10px;
                margin-top: 20px;

           }
           img {
               padding-bottom: 26px;
           }
           .what {
               color: $color-darkgrey;
               font-size: $fontsize-xsmall;
                text-transform: uppercase;
           }
        }
    }
}

#tematica {
    background-color: $color-grey-bg;
    .main {
        background-color: $color-brown;
        color: $color-white;
        .titulo {
            font-family: $sans-serif;
            font-size: $fontsize-big;
            font-weight: bold;
            padding-top: $default-jump;
        }
        .descripcion {
            font-size: $fontsize-small;
            padding-bottom: $default-jump;
            font-weight: 300;
        }
    }
    .causas {
        h5 {
            color: $color-primary;
            font-size: $fontsize-medium;
            padding: $default-jump 0px $default-jump 0px;
        }
        .causa {
            .info {
                background-color: $color-grey-bg;
                h3 {
                    font-size: $fontsize-medium;
                    font-family: $serif;
                }
                a.readmore {
                    color: $color-darkgrey-alt;
                    text-transform: uppercase;
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
            }
            .metricas {
                background-color: $color-white;
                color: $color-primary;
                font-size: $fontsize-small;
                padding: $default-jump 0px $default-jump 0px;
            }
        }
    }
}


#causa {
    background-color: $color-grey-bg;
    .main {
        .tematicas {
            position: absolute;
            margin-top: 109px;
            width: 100%;
            padding: 20px 0px 20px 0px;
            text-transform: uppercase;
            background-color: $color-brown;
            color: $color-white;
            z-index: 100;
        }
    }
    .organizaciones {
        color: $color-primary;
        text-transform: uppercase;
        font-size: $fontsize-xsmall;
        padding: $default-jump/2 0px $default-jump/2 0px;
    }
    .info {
        .titulo {
            font-family: $serif;
            font-size: $fontsize-big;
        }
    }
    .metricas {
        color: $color-primary;
        font-size: $fontsize-small;
        padding: $default-jump 0px $default-jump 0px;
    }
    .meta {
        padding: $default-jump 0px $default-jump 0px;
        .descripcion {
            p {
                font-size: $fontsize-small;
                color: $color-brown;
            }
        }
        .fotos {
            /*code*/
        }
    }
    .timeline {
        background-color: $color-white;
        color: $color-primary;
        height: 200px;
    }
}


#tematica, #causa {
    .acciones {
        background-color: $color-primary;
        color: $color-white;
        padding: $default-jump 0px $default-jump 0px;
        font-size: $fontsize-small;
        .accion {
            padding: 0px 20px 0px 20px;
        }
    }
    .contenido {
        padding: $default-jump*2 0px $default-jump*2 0px;
    }
}


#page.basica {
    background-color: $color-grey-bg;
    h1 {
        font-size: $fontsize-big;
        font-weight: bold;
    }
    h3 {
        font-size: $fontsize-medium;
        font-weight: bold;
    }
    p {
        font-size: $fontsize-small;
        padding-bottom: 20px;
    }
    p:first-of-type {
        padding-top: 40px;
    }
}


#quienes-somos {
    h3 {
        font-size: $fontsize-big;
        font-weight: bold;
    }
    p, ul li {
        font-size: $fontsize-small;
        font-weight: 300;
    }
    .block {
        padding: $default-jump 0px $default-jump 0px;
    }
    .somos, .tu {
        background-color: $color-primary;
        color: $color-white;
    }
    .pedimos, .vigilamos-a, .metodologias, .contacto {
        background-color: $color-white;
        color: $color-black;
        ul {
            padding-left: 40px;
            li {
                padding: 20px 0px 20px 0px;
            }
        }
    }
    .vigilamos, .datos {
        background-color: $color-grey-bg;
        color: $color-primary;
        a {
            color: $color-primary;
            font-weight: bold;
        }
    }
}
